<% provide(:title, "Help") %>
<div class="center jumbotron">
  <h1 class="help">Help</h1>
  <p>
    <ul>
      <li>ナビゲータのLog inでログインをしてから使います。</li>
      <ul>ユーザ1人目はemail="example@railstutorial.org", password="foobar"</ul>
      <ul>残りのアカウントはemail="example-n@railstutorial.org"(nには0〜100の数字が入る), password="password"</ul>
      <li>1〜20人目のユーザにはスキルページを割り振ってあります(それ以降は割り振っていません)。</li>
      <li>ナビゲータのUsersでユーザ一覧、そこからユーザ個人のプロフィールに進むことができます。自分のプロフィールへはAccount→Profileで進むこともできます。</li>
      <li>並んでいるスキルの名前をクリックすると、クリック数とともにスキル名がリストになって表示されます。</li>
      <li>すでに追加されているスキルは、数字をクリックすることでスキルの回数が増えるようになっています。</li>
    </ul>
  </p>
</div>