<div class="center jumbotron">
  <h1>Wantedly選考課題</h1>
    <h2>
      <a href="https://gist.github.com/luvtechno/10ffa6e8f808cf5d8b4e3073087a08f9">Wantedlyの選考課題</a>
      に関するホームページ。Log inしたのち、Userでユーザ一覧、Profileで自分のプロフィールにいきます
      
      詳しくはHelpにて
      
    </h2>
    
</div>