<% if skill.count > 0  && skill.user == current_user %>
  <ol class="skills">
    <li class="possitive_count",id="skill-<%= skill.id %>">
    <span class="count"><%= skill.count %></span>
    <span class="name1"><%= skill.name %></span>
    </li>
  </ol>
<% elsif skill.count > 0 %>
  <ol class="skills">
    <li class="possitive_count",id="skill-<%= skill.id %>">
    <span class="count"><%= link_to skill.count, skill_path(skill), method: :put %></span>
    <span class="name1"><%= skill.name %></span>
    </li>
  </ol>
<% else %>
  <span class="name2"><%= link_to skill.name, skill_path(skill), method: :put %>, </span>
<% end %>